<% layout("/layout/boilerplate") %>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds" method="post" class="validated-form" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="campground[title]" id="title" required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
                <div class="mb-3 ">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" name="campground[location]" id="location" required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
                <div class="mb-3 form-file custom-file">
                    <label class="form-label" for="customFile">
                        Choose image(s)....
                    </label>
                    <input type="file" class="form-control form-file-input" name="image" id="customFile" multiple>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="20.00" name="campground[price]" aria-describedby="price-label" required>
                        <div class="valid-feedback">
                            Looks Good!
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" name="campground[description]" id="description" required>
                        </textarea>
                        <div class="valid-feedback">
                            Looks Good!
                        </div>
                </div>
                <button class="btn btn-success" type="submit">Add campground</button>
                <div class="mb-3"></div>
            </form>
            <a href="/campgrounds">All campgrounds</a>

        </div>

    </div>

